body {
  background-color: #f9fbff;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #231f20;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

img {
  display: block;
  margin: 0 auto;
  width: 40em;
  height: auto;
}

.index-recipes-list {
  text-align: center;
}

.back-to-index-link {
  display: block;
  text-align: center;
}
